.metadata
Debug/
_ide/
*.log
*~
*.o


/project
/digitizer
/src/design_1/*
!/src/design_1/design_1.bd
!/src/design_1/hdl
/src/design_1/hdl/*
!/src/design_1/hdl/digitizer.v


/soft1/*
!/soft1/adc_receiver/
/soft1/adc_receiver/*
!/soft1/adc_receiver/src/


/Packages/.repos.xml
