.metadata
Debug/
_ide/
*.log
*~
*.o


/digitizer
/software
/src/design_1/*
!/src/design_1/design_1.bd
!/src/design_1/hdl
/src/design_1/hdl/*
!/src/design_1/hdl/digitizer.v



/Packages
